
<h1> Currency pairs </h1> 


<ul>

<% a = 0 %>

<% while a < @amount_of_currencies %>

  <% @amount_of_currencies.times do %>

    <li>
      <a href= "/<%= @bc %>/<%= @list_of_countries_abbr[9] %> ">Convert 1 <%= @bc %> to <%= @list_of_countries_abbr[a] %>...</a>
    </li>
<% a += 1 %>
  <% end %>
  
  <%end%>

</ul>
