


<h1> Currency pairs </h1> 


<ul>
  <% @list_of_countries_abbr.each do |show| %>
    <li>
      <a href= "/<%= @list_of_countries_abbr[5] %> ">Convert 1 <%= show %> to...</a>
    </li>
  <% end %>
</ul>
